body {
  -webkit-print-color-adjust: exact !important;
  font-family: 'IBM Plex Serif', serif;
}
@media print {
  .not-printable {
    display: none !important;
  }

  .preview {
    margin: 0 !important;
    padding: 0 !important;
  }
}
